/*BODY*/
body 
{
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
}
p
{
    color: #383838;
}

/*HEADER*/
header
{
    max-width: 1420px;
    margin-left: 2rem;
    margin-right: 2rem;
}
/* --NAVIGATION--*/
.logoReservia
{
    height: 2.813rem;
}
.navigationHeader
    {
        display:flex;
    }

.navigation:hover
{
    color: #0065fc;
    cursor: pointer;
}

.header
{
    display: flex;
    align-items: center;
    padding-top: 0.85rem;
    margin:auto;
}
.espacement
{
    flex-grow: 1;
}

.hebTextColor
{
    color: #0065fc;
}

.actTextColor
{
    color:black;
}

.navigation
{
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
}

.inscription
{
    padding-left: 2rem;
    color: #0065fc;
    cursor: pointer;
}

/*--RECHERCHE--*/
.titre
{
    margin-top: 2.5rem;
}

#soustitre
{
    margin-top: -1rem;
}

.recherche
{
    display: flex;
    flex-wrap: nowrap;
}

.siteRecherche
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border: 1px #f2f2f2 solid;
    font-size: 1rem;
    font-weight: bold;
}
::placeholder
{
    color: #a9a9a9;
    padding-left: 0.5rem;
}

.buttonRecherche
{
    background-color:  #0065FC;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border:none;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 8.5rem;
    color:white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.iconSearch
{
    visibility: hidden;
}

.localisation
{
    background-color:  #f2f2f2;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3.25rem;
}
    
/*--INFORMATION--*/
#infoBox
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.infoImg
{
    height: 2rem;
    min-height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.faviconImg
{
    color:#0065fc;
}

/* --FILTRES-- */
.filtres
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.filtreBox
{
    display:flex;
    align-items: center;
    border: 2px #d9d9d9 solid;
    border-radius: 2rem;
    
    height: 3.25rem;
    cursor: pointer;
}
.filtreBox:hover
{
    transform: scale(1.1);
}

.filtre-img
{
    display:flex;
    width: 3rem;
    height: 3rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    margin-left: -2px;
}

.imageFiltre
{
    color:#0065FC; 
}

.filtre-content
{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1em;
    font-weight:bold;
}

/*MAIN*/
/*--LOCATION--*/
@media screen and (min-width:601px)
{
    .filtreBox
    {
        margin-left: 2rem;
    }
}
@media screen and (min-width:1441px)
{
    .navigation:hover
    {
        border-top: 4px solid #0065FC;
        padding-top: 2rem;
    }
    .siteRecherche
    {
        width: 14rem;
    }
    .hebTextColor
    {
        border-top: 3px solid #0065FC;
        padding-top: 2rem;
    }
    .location
    {
        max-width: 1480px;
    }
    .populaire
    {
        margin-right: 2rem;
        padding-right: 2rem;
    }
    .cardPopulaire
    {
        width: 385px;
        height: 9rem;
    }
    .imageP
    {
        width: 7.75rem;
    }
    .cardHosting
    {
        width: 250px;
    }
    .card-img
    {
        height: 7rem;
    }
}
@media screen and (max-width: 1440px)
{
    .hebTextColor
    {
        border-top: 3px solid #0065FC;
        padding-top: 2rem;
    }
    .navigation:hover
    {
        border-top: 4px solid #0065FC;
        padding-top: 2rem;
    }
    .siteRecherche
    {
        width: 14rem;
    }
    .location
    {
        flex-direction: column-reverse;
        max-width: 100%;
        margin-right: 2rem;
    }
    .populaireBox
    {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
    }
    .cardPopulaire
    {
        width: 30%;
        height: 10rem;
    }
    .imageP
    {
        width: 7.75rem;
    }
    .cardHosting
    {
        width: 30%;
    }
    .card-img
    {
        height: 11rem;
    }
    .populaire
    {
        padding-right: 2rem;
    }
}

@media screen and (max-width:1130px)
{
    .populaireBox
    {
        display:flex;
        flex-direction: column-reverse;
    }
    .cardPopulaire
    {
        width: 100%;
        height: 9rem;
    }
    .populaire
    {
        padding-right: 2.5rem;
    }
    .imageP
    {
        width: 17rem;
    }
    .cardHosting
    {
        width: 48%;
    }
    .cardA
    {
        width: 48%;
        margin-top: 2.5rem;
    }
    .cardA-img
    {
        height: 11rem;
    }
}
@media screen and (max-width:850px)
{
    .cardHosting, .cardA
    {
        width: 100%;
    }
}
@media screen and (max-width:560px)
{
    .location
    {
        min-width: 510px;
        margin-right: 2rem;
    }
    .activites
    {
        min-width: 470px;
    }
}

h3 + p
{
    line-height: 0.3em;
}

.location
{
    display:flex;
}

.hebergements, .populaire
{
    background-color: #f2f2f2;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-radius: 1.5rem;
}

.hebergements
{
    margin-left: 2rem;
    padding-right: 2rem;
}
.populaire
{
    margin-left: 2rem;
}


/* --HEBERGEMENT--*/
.cardHosting
{
    background-color: white;
    box-shadow: 6px 6px 9px #323232;
    border-radius: 1.25rem;
    padding: 0.375rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    box-sizing: border-box
}
.cardHosting:hover
{
    transform: scale(1.025);
}

.herbergementBox
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-content
{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.imageH
{
    width: 100%;
    height: 100%;
    border-top-left-radius:  1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

/*--POPULAIRE--*/
.cardPopulaire
{
    background-color: white;
    box-shadow: 6px 6px 9px #323232;
    border-radius: 1.25rem;
    padding: 0.375rem;
    display: flex; 
    margin-top: 2rem; 
    cursor: pointer;
}

.cardPopulaire:hover
{
    transform: scale(1.025);
}


.cardP-content
{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.imageP
{
    height: 100%;
    border-top-left-radius:  1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
}

/*--ACTIVITES--*/
.activites
{
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.activitesBox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1410px;
}

@media screen and (min-width: 1251px)
{
    .activites
    {
        height: 600px;
    }
    .cardA
    {
        width: 23.85%;
        display: flex;
        flex-direction: column;
    }
    .dimImg3
    {
        position: relative;
        top: 330px;
        right: 25.4%;
    }
    .dimImg4
    {
        position: relative;
        right: 25.4%;
    }
    .dimImg6
    {
        position: relative;
        bottom: 304.5px;
    }
    .dimImg5
    {
        position: relative;
        left: 76%;
        bottom: 530px;
    }

    .dimImg1, .dimImg4
    {
        height: 530px;
    }
    .dimImg2, .dimImg6
    {
        height: 303.4px; 
    }
    .dimImg3, .dimImg5
    {
        height: 202.3px;
    }

    .heihtImg5, .heihtImg3
    {
        height: 71%;
    }
    .heihtImg1, .heihtImg4
    {
        height: 100%;
    }
    .heihtImg2, .heihtImg6
    {
        height: 81%;
    }
}
@media screen and (min-width:1131px) and (max-width:1250px)
{
    .cardA
    {
        width: 30%;
        margin-top: 2.5rem;
    }
    .cardA-img
    {
        height: 11rem;
    }
}

.cardA
{
    background-color: white;
    box-shadow: 6px 6px 9px #323232;
    border-radius: 1rem;
    cursor: pointer;
}

.cardA:hover
{
    transform: scale(1.025);
}

.imageA
{
    width:100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.cardActivitesTitle
{
    padding-left: 1.3rem;
}

/*--FOOTER--*/
footer
{
    background-color: #f2f2f2;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2.25rem;
}

.footbox
{
    display: flex;
    justify-content: space-around;
}
 

/*Media queries*/
/*--Mobile style--*/
@media screen and (max-width:600px)
{
    /*HEADER*/
    /* --NAVIGATION--*/

    .hebTextColor
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 2rem;
        position: relative;
        right: 5rem;
    }
    .actTextColor
    {
        position: relative;
        left: 5rem;
    }
    .navigation:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 2rem;
    }
    .header
    {
        padding-bottom:5rem;
        max-width: 580px;
    }
    .navigationHeader
    {
        position:relative;
        top: 5rem;
    }
    .inscription
    {
        padding-right: 1.5rem;
    }


    /*MAIN*/
    /*RECHERCHE*/
    .titre, .soustitre, .recherche
    {
        margin-right:1.5rem;
    }
    .siteRecherche
    {
        width: 25rem;
        min-width: 20rem;
    }
    .buttonRecherche
    {
        width: 4rem;
        padding-bottom: 1rem;
    }
    .textRecherche
    {
        display: none;
    }
    .iconSearch
    {
        visibility: visible;
    }

    /* --FILTRES-- */
    .filtres
    {
        
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .filtreBox
    {
        margin-bottom:1rem;
    }

    /*--INFORMATION*/
    #infoBox
    {
        margin-right: 1.5rem;
    }

    /*MAIN*/
    .imageP
    {
        width: 9rem;
    }

    /*FOOTER*/
    .footbox
    {
       flex-direction: column;
       padding-left: 2rem;
       min-width: 550px;
    }
}